# 老龄化分析
## 思路
从空间, 年龄,城乡, 人口结构等多个角度分析老龄化现状

## 数据
- 空间
    - 城市发展
        -  经济
        - 工业化
        - 医疗
        - 教育
    - 人口流动
    - 城乡分布
- 非空间
    - 年龄
    - 人口结构
        - 性别
        - 劳动力(抚养比)
   

## 绘图
- 空间
    - 相关图
- 年龄
    - 金字塔图
    - 突出高龄化
- 城乡
    - 饼状图

In [15]:
%pylab
%matplotlib inline 
import pandas as pd

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

In [119]:
df.columns.values

array(['规模度', '投入度', '质量度', '信息度', '公平度', '贡献度', '发展指数'], dtype=object)

In [124]:
df = pd.read_excel('./data/2019/1-4章/C0211.xls')
# df = pd.read_table('./data/教育指数.txt', sep=' ')
# df = df.reset_index()
# df.head(10)

In [108]:
df.iloc[3].values

array(['地  区', '地区生产总值', nan, nan, nan, '人均地区', '构  成 (地区生产总值=100)', nan,
       nan, '指    数    (上年=100)', nan, nan, nan, nan], dtype=object)

In [109]:
df.iloc[4].values

array([nan, nan, '三次产业增加值', nan, nan, '生产总值', '第一产业', '第二产业', '第三产业',
       '地区生产', '第一产业', '第二产业', '第三产业', '人均地区'], dtype=object)

In [126]:
df = df.dropna().reset_index().drop('index', axis=1)
df.head()

In [127]:
# df.columns = ['地区', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
# df.columns = ['地区','2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']
df.columns = ['地区', '合计', '男', '女']

In [128]:
# df = df.iloc[1:]
df.head()

      地区       合计       男       女
0   全  国  1144648  585299  559349
1   北  京    17673    8781    8892
2   天  津    12794    6863    5931
3   河  北    61907   31210   30697
4   山  西    30481   15593   14888

In [129]:
df.tail()

       地区     合计      男      女
27   陕  西  31684  15879  15804
28   甘  肃  21614  11001  10613
29   青  海   4945   2571   2373
30   宁  夏   5638   2794   2844
31   新  疆  20375  10175  10200

In [130]:
df.to_csv('./data/2018各省市性别比例.csv', index=False)